In [1]:
import pandas as pd

In [2]:
from glob import glob
files = glob('./*.csv')

In [3]:
files[0]

'.\\직종_학력_연령계층_성별_임금_및_근로조건_1993_1999.csv'

In [4]:
df1 = pd.read_csv(files[0], encoding="CP949", header=[0,1])
df2 = pd.read_csv(files[1], encoding="CP949", header=[0,1])
df3 = pd.read_csv(files[2], encoding="CP949", header=[0,1])

df1 = df1.drop(2, axis=1)
df2 = df2.drop(2, axis=1)
df3 = df3.drop(2, axis=1)

# 직종이 1-9번까지 9개 -> 1993-1999년
# 직종 0-9 번까지 10개 -> 서비스근로자및상점과시장판매근로자 -> 서비스 종사자(4) / 판매 종사자 두개로(5) 으로 나누어짐
# 직종 1-9번까지 9개 > 전문가(1,2) 기술공 및 준전문가(2,3) -> 전문가 및 관련종사자(2) 로 합쳐짐

In [5]:
df1['직업별']['직업별'].unique()

array(['고위임직원및관리자 (1)', '전문가 (2)', '기술공및준전문가 (3)', '사무직원 (4)',
       '서비스근로자및상점과시장판매근로자 (5)', '농업및어업숙련근로자 (6)', '기능원및관련기능근로자 (7)',
       '장치,기계조작원및조립원 (8)', '단순노무직근로자 (9)'], dtype=object)

In [6]:
df2['직업별']['직업별'].unique()

array(['고위임직원 및 관리자 (0)', '전문가 (1)', '기술공 및 준전문가 (2)', '사무 종사자 (3)',
       '서비스 종사자 (4)', '판매 종사자 (5)', '농업, 임업 및 어업 숙련 종사자 (6)',
       '기능원 및 관련 기능 종사자 (7)', '장치, 기계조작 및 조립 종사자 (8)', '단순 노무 종사자 (9)'],
      dtype=object)

In [7]:
df3['한국표준직업분류6차']['한국표준직업분류6차'].unique()

array(['관리자(1)', '전문가 및 관련 종사자(2)', '사무 종사자(3)', '서비스 종사자(4)',
       '판매 종사자(5)', '농림어업 숙련 종사자(6)', '기능원 및 관련 기능 종사자(7)',
       '장치,기계조작 및 조립종사자(8)', '단순노무 종사자(9)'], dtype=object)

In [8]:
job_mapping ={}
for i in df1['직업별']['직업별'].unique():
    job_mapping[i] = ''
for i in df2['직업별']['직업별'].unique():
    job_mapping[i] = ''
for i in df3['한국표준직업분류6차']['한국표준직업분류6차'].unique():
    job_mapping[i] = ''

In [82]:
for i in job_mapping:
    if i.find('관리자')>=0:
        job_mapping[i] = '관리자'
    elif i.find('전문가')>=0:
        job_mapping[i] = '전문가'
    elif i.find('사무')>=0:
        job_mapping[i] = '사무종사자'
    elif i.find('서비스')>=0:
        job_mapping[i] = '서비스-판매근로자'
    elif i.find('판매')>=0:
        job_mapping[i] = '서비스-판매근로자'
    elif i.find('농업')>=0 or i.find('농림')>=0:
        job_mapping[i] = '농업-어업숙련근로자'
    elif i.find('기능원')>=0:
        job_mapping[i] = '기능원'
    elif i.find('장치')>=0:
        job_mapping[i] = '장치기계조작-조립원'
    else :
        job_mapping[i] = '단순노무직'

In [83]:
def mapping_jobs(d):
    d = d['직업별']
    return job_mapping[d]
df1['new_job_category'] =  df1['직업별'].apply(mapping_jobs, axis=1)
df2['new_job_category'] =  df2['직업별'].apply(mapping_jobs, axis=1)

In [84]:
def mapping_jobs_recent(d):
    d = d['한국표준직업분류6차']
    return job_mapping[d]
df3['new_job_category'] =  df3['한국표준직업분류6차'].apply(mapping_jobs_recent, axis=1)

df3[df3['new_job_category']=='농업/어업숙련근로자']

df2.head()

In [85]:
df3.head()

  한국표준직업분류6차  학력별 성별       연령     2009                                      \
  한국표준직업분류6차  학력별 성별       연령 평균연령 (세) 총근로시간 (시간) 소정실근로시간 (시간) 초과근로시간 (시간)
0     관리자(1)  전학력  남    ~ 19세        0          0            0           0
1     관리자(1)  전학력  남  20 ~ 24     22.1      183.3        179.7         3.5
2     관리자(1)  전학력  남  25 ~ 29     27.9      184.1        176.2         7.8
3     관리자(1)  전학력  남  30 ~ 34     32.1      188.1        178.8         9.3
4     관리자(1)  전학력  남  35 ~ 39     37.3      185.5        179.0         6.5

               2010  ...       2018                                    \
  근로자수 (명) 평균연령 (세)  ... 총근로시간 (시간) 소정실근로시간 (시간) 초과근로시간 (시간) 근로자수 (명)
0        0        0  ...          0            0           0        0
1       43     23.2  ...      182.3        155.5        26.8       13
2     3310     28.1  ...      171.1        160.2        11.0     1190
3     6786     32.4  ...      168.2        160.5         7.7     2738
4    15652     37.4  ...      166.9        158.1         8.8     5421

      2019                                              new_job_category
  평균연령 (세) 총근로시간 (시간) 소정실근로시간 (시간) 초과근로시간 (시간) 근로자수 (명)
0        0          0            0           0        0              관리자
1     24.0      160.0        160.0           0       13              관리자
2     27.4      171.7        157.5        14.2      564              관리자
3     32.1      158.4        153.5         5.0     1883              관리자
4     37.5      161.3        155.8         5.5     3985              관리자

[5 rows x 60 columns]

In [86]:
list(set(job_mapping.values()))

['기능원',
 '농업-어업숙련근로자',
 '단순노무직',
 '서비스-판매근로자',
 '사무종사자',
 '장치기계조작-조립원',
 '전문가',
 '관리자']

In [87]:
from tqdm.notebook import tqdm

In [88]:
import numpy as np

In [89]:
def convert_nan(d):
    if d in [np.nan, '-']:
        return 0
    else: return d

In [90]:
df1 = df1.applymap(convert_nan)
df2 = df2.applymap(convert_nan)
df3 = df3.applymap(convert_nan)

In [164]:
df1[(df1['new_job_category']== '전문가')  ] [['new_job_category','성별','연령','1993','1994', '1995','1996','1997','1998','1999']]

   new_job_category 성별       연령     1993                           \
                    성별       연령 평균연령 (세) 총근로시간수 (시간) 정상근로시간수 (시간)
20              전문가  남    ~ 19세     18.7       204.3        197.6
21              전문가  남  20 ~ 24     23.4       201.5        189.8
22              전문가  남  25 ~ 29     27.4       203.6        190.4
23              전문가  남  30 ~ 34     31.9       201.2        190.4
24              전문가  남  35 ~ 39     36.8       199.3        189.8
25              전문가  남  40 ~ 44     41.7       198.9        189.3
26              전문가  남  45 ~ 49     46.7       198.1        190.2
27              전문가  남  50 ~ 54     51.8       195.0        189.5
28              전문가  남  55 ~ 59     56.6       193.1        189.6
29              전문가  남    60세 ~     63.8       193.4        190.8
30              전문가  여    ~ 19세     18.9       195.5        187.1
31              전문가  여  20 ~ 24     22.8       200.0        188.7
32              전문가  여  25 ~ 29     26.6       197.7        188.7
33              전문가  여  30 ~ 34     31.7       194.8        188.7
34              전문가  여  35 ~ 39     36.5       191.3        188.3
35              전문가  여  40 ~ 44     41.7       193.1        188.3
36              전문가  여  45 ~ 49     46.7       191.3        189.1
37              전문가  여  50 ~ 54     51.7       197.5        187.4
38              전문가  여  55 ~ 59     56.5       185.3        184.2
39              전문가  여    60세 ~     62.0       190.0        189.4
40              전문가  남    ~ 19세     18.7       199.1        187.5
41              전문가  남  20 ~ 24     22.7       205.5        192.0
42              전문가  남  25 ~ 29     27.2       204.6        191.1
43              전문가  남  30 ~ 34     32.0       203.9        190.9
44              전문가  남  35 ~ 39     36.8       204.1        191.2
45              전문가  남  40 ~ 44     41.7       202.0        190.6
46              전문가  남  45 ~ 49     46.8       203.5        190.0
47              전문가  남  50 ~ 54     51.8       203.4        191.2
48              전문가  남  55 ~ 59     56.7       201.9        191.1
49              전문가  남    60세 ~     63.6       208.7        194.1
50              전문가  여    ~ 19세     18.8       210.0        193.5
51              전문가  여  20 ~ 24     22.3       202.9        191.2
52              전문가  여  25 ~ 29     26.4       199.9        191.3
53              전문가  여  30 ~ 34     31.8       197.7        191.9
54              전문가  여  35 ~ 39     36.7       200.3        195.7
55              전문가  여  40 ~ 44     41.1       207.2        201.1
56              전문가  여  45 ~ 49     45.9       201.7        199.2
57              전문가  여  50 ~ 54     51.7       203.1        201.8
58              전문가  여  55 ~ 59     56.1       191.0        187.1
59              전문가  여    60세 ~     62.6       219.3        190.6

                             1994              ...     1998              \
   초과근로시간수 (시간) 근로자수 (명) 평균연령 (세) 총근로시간수 (시간)  ... 평균연령 (세) 총근로시간수 (시간)
20          6.6      126     18.9       204.7  ...     18.7       192.4
21         11.8     6137     23.4       200.1  ...     23.4       190.1
22         13.2    83865     27.4       200.5  ...     27.6       190.1
23         10.8   105911     31.9       198.1  ...     31.9       190.0
24          9.6    67555     36.7       196.2  ...     36.9       188.8
25          9.6    30509     41.7       194.7  ...     41.8       188.1
26          7.9    17441     46.8       192.5  ...     46.7       187.4
27          5.4    10829     52.0       191.8  ...     51.8       187.0
28          3.5     5499     56.8       191.9  ...     56.9       186.2
29          2.6     4372     64.0       194.4  ...     63.3       182.8
30          8.3      274     18.9       199.2  ...     18.6       188.6
31         11.3    26826     22.9       197.0  ...     23.1       196.9
32          9.0    28373     26.7       197.3  ...     26.8       193.0
33          6.0    14235     31.7       191.8  ...     31.8       190.0
34          3.0     7381     36.7       192.9  ...     36.8       191.9
35          4.8     2971     41.5       189.5  ...     41.8       191.8
36          2.2     1244     46.5       186.4  ...     46.6       190.5
37         10.1      985     52.0       188.3  ...     51.4       187.7
38          1.0      755     57.0       185.4  ...     56.8       185.8
39          0.7      192     61.7       185.1  ...     62.6       183.5
40         11.6     2186     18.8       208.6  ...     18.7       205.5
41         13.6    21280     22.9       207.1  ...     23.0       202.3
42         13.5    76864     27.1       205.2  ...     27.4       196.5
43         13.0    88263     32.0       203.1  ...     32.0       193.3
44         12.9    68762     36.7       200.1  ...     36.9       192.0
45         11.4    33373     41.8       198.1  ...     41.7       193.2
46         13.5    17450     46.6       199.6  ...     46.7       192.7
47         12.2    10776     51.6       197.6  ...     51.6       196.5
48         10.8     3912     56.6       196.7  ...     56.5       202.2
49         14.6     3003     66.4       200.0  ...     62.9       199.7
50         16.5     1884     18.6       194.1  ...     18.8       200.5
51         11.7    22209     22.4       199.9  ...     22.6       194.9
52          8.6    13119     26.4       197.4  ...     26.6       191.0
53          5.7     3848     31.7       197.8  ...     31.7       189.5
54          4.7     1743     36.9       197.4  ...     36.8       192.6
55          6.1     1100     41.9       193.8  ...     41.3       202.0
56          2.5     1050     46.7       197.7  ...     46.9       195.9
57          1.3      612     51.4       200.0  ...     51.8       193.1
58          3.9       17     56.0       208.4  ...     56.0       210.1
59         28.6      117     62.8       235.4  ...     62.9       177.8

                                          1999                           \
   정상근로시간수 (시간) 초과근로시간수 (시간) 근로자수 (명) 평균연령 (세) 총근로시간수 (시간) 정상근로시간수 (시간)
20        188.8          3.6      369     19.0       194.4        187.9
21        186.2          3.9     5003     23.3       197.5        189.6
22        181.4          8.7    93311     27.6       194.9        188.2
23        182.0          7.9   117620     31.9       194.1        187.6
24        182.3          6.5    89005     37.0       195.6        189.8
25        181.6          6.4    49008     41.8       195.2        189.5
26        181.8          5.6    23781     46.6       194.9        190.0
27        182.3          4.6    15584     51.8       192.8        188.4
28        182.6          3.7    10480     56.9       191.2        188.1
29        180.1          2.7     8098     63.2       188.2        185.7
30        182.4          6.2      237     18.7       203.3        197.2
31        185.4         11.5    22583     23.2       196.3        190.6
32        183.5          9.5    45282     27.0       194.1        189.2
33        184.7          5.3    23070     31.8       194.6        190.4
34        183.5          8.4    15115     36.9       194.7        191.7
35        182.1          9.7     8870     41.9       191.6        189.0
36        180.7          9.8     4358     46.7       190.4        188.7
37        183.7          4.1     2089     51.6       191.4        190.3
38        183.7          2.1     1196     57.0       189.0        185.2
39        180.3          3.2      801     62.2       189.0        186.5
40        187.6         18.0      896     18.7       206.7        192.9
41        186.2         16.1    13840     22.9       207.1        191.0
42        183.9         12.6    96621     27.5       201.6        191.5
43        183.6          9.7   122890     31.9       201.0        191.6
44        183.2          8.8   119489     37.0       200.0        190.9
45        183.5          9.7    66377     41.7       199.9        191.5
46        182.9          9.7    26949     46.6       201.3        192.1
47        183.8         12.7    12417     51.5       200.8        192.4
48        186.8         15.4     6029     56.8       205.1        196.4
49        187.1         12.6     2339     64.3       195.7        192.3
50        182.4         18.1      866     18.7       204.3        188.7
51        185.4          9.5    26098     22.7       198.6        189.6
52        183.8          7.3    31320     26.7       195.6        188.4
53        182.9          6.6    10105     31.5       193.8        187.6
54        185.7          6.8     4883     36.7       198.6        189.6
55        187.3         14.7     2551     41.7       203.9        191.1
56        188.8          7.1     1337     46.6       207.4        189.2
57        188.9          4.2      716     51.7       211.1        190.0
58        190.0         20.1      196     56.4       211.0        184.3
59        177.8          0.0       30     69.7       197.3        190.7


   초과근로시간수 (시간) 근로자수 (명)
20          6.6       16
21          8.0     4052
22          6.8    71600
23          6.5   108407
24          5.8    96281
25          5.7    64470
26          4.9    29490
27          4.4    15261
28          3.1     9938
29          2.5     7276
30          6.2       93
31          5.6    16668
32          5.0    42115
33          4.2    25281
34          3.0    17307
35          2.5    11337
36          1.7     5369
37          1.1     2778
38          3.8     1172
39          2.5      995
40         13.8     1206
41         16.2    16015
42         10.2   153478
43          9.4   201876
44          9.1   166000
45          8.4   103522
46          9.1    44896
47          8.4    19902
48          8.7    10769
49          3.5     8007
50         15.5     3886
51          9.0    58031
52          7.2    70307
53          6.2    28192
54          9.0    14643
55         12.9     8779
56         18.2     3143
57         21.0     2187
58         26.7      602
59          6.6     1250

[40 rows x 38 columns]

In [184]:
df = pd.DataFrame()
for gender in ['남','여']: # 남녀별 각각 통계
    for job in tqdm(list(set(job_mapping.values()))): # 각 직종별 통계
        tmp_df1 = df1[(df1['new_job_category']== job) & (df1['성별']['성별']== gender) ] [['new_job_category','성별','연령',
                                                                                      '1993','1994', '1995','1996','1997','1998','1999']]
        tmp_df1 = tmp_df1.reset_index(drop=True)
        new_columns = ['category','gender','age']
        for i in range(1993,2000):
            new_columns += [str(i)+'|mean_age',str(i)+'|working_time_all',str(i)+'|working_time_normal',str(i)+'|working_time_over',str(i)+'|number']
        tmp_df1.columns = new_columns
        if len(tmp_df1)==20:

            tmp1, tmp2 = tmp_df1.iloc[0:10], tmp_df1.iloc[10:]
            for i in tmp1.columns[3:]:
                tmp1 = tmp1.astype({i: float})
            for i in tmp2.columns[3:]:
                tmp2 = tmp2.astype({i: float})
            tmp1 = tmp1.reset_index(drop=True)
            tmp2 = tmp2.reset_index(drop=True)
#             print(job, tmp1)
            tmp_df1[new_columns[3:]] = tmp1[tmp1.columns[3:]].add(tmp2[tmp2.columns[3:]]) /2
        
        tmp_df1 = tmp_df1.dropna()
        tmp_df1 = tmp_df1.reset_index(drop=True)
        
        tmp_df2 = df2[(df2['new_job_category']== job) & (df2['성별']['성별']== gender) ][['new_job_category','성별','연령',
                                                                              '2000','2001','2002','2003','2004','2005','2006','2007','2008']]
        
        tmp_df2 = tmp_df2.reset_index(drop=True)
        new_columns = ['category','gender','age']
        for i in range(2000,2009):
            new_columns += [str(i)+'|mean_age',str(i)+'|working_time_all',str(i)+'|working_time_normal',str(i)+'|working_time_over',str(i)+'|number']
        tmp_df2.columns = new_columns
        if len(tmp_df2)==20:
            tmp1, tmp2 = tmp_df2.iloc[0:10], tmp_df2.iloc[10:]
            for i in tmp1.columns[3:]:
                tmp1 = tmp1.astype({i: float})
            for i in tmp2.columns[3:]:
                tmp2 = tmp2.astype({i: float})
            tmp1 = tmp1.reset_index(drop=True)
            tmp2 = tmp2.reset_index(drop=True)
            tmp_df2[new_columns[3:]] = tmp1[tmp1.columns[3:]].add(tmp2[tmp2.columns[3:]]) /2
        tmp_df2 = tmp_df2[new_columns[3:]]
        tmp_df2 = tmp_df2.dropna()
        tmp_df2 = tmp_df2.reset_index(drop=True)
        
        tmp_df3 = df3[(df3['new_job_category']== job) & (df3['성별']['성별']== gender) ][['new_job_category','성별','연령',
                                                                              '2009','2010','2011','2012','2013','2014','2015','2016','2017','2018','2019']]
        tmp_df3 = tmp_df3.reset_index(drop=True)
        new_columns = ['category','gender','age']
        for i in range(2009,2020):
            new_columns += [str(i)+'|mean_age',str(i)+'|working_time_all',str(i)+'|working_time_normal',str(i)+'|working_time_over',str(i)+'|number']
        tmp_df3.columns = new_columns
        if len(tmp_df3)==20:
            tmp1, tmp2 = tmp_df3.iloc[0:10], tmp_df3.iloc[10:]
            for i in tmp1.columns[3:]:
                tmp1 = tmp1.astype({i: float})
            for i in tmp2.columns[3:]:
                tmp2 = tmp2.astype({i: float})
            tmp1 = tmp1.reset_index(drop=True)
            tmp2 = tmp2.reset_index(drop=True)
            tmp_df3[new_columns[3:]] = tmp1[tmp1.columns[3:]].add(tmp2[tmp2.columns[3:]]) /2
        tmp_df3 = tmp_df3[new_columns[3:]]
        tmp_df3 = tmp_df3.dropna()
        tmp_df3 = tmp_df3.reset_index(drop=True)
        df = df.append(pd.concat([tmp_df1, tmp_df2, tmp_df3], axis=1))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=8.0), HTML(value='')))

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=8.0), HTML(value='')))

In [186]:
df.to_csv('./result/results.csv', encoding='CP949',index=False)